html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.topPageTitle {
    font-size: 50px;
    text-align: center;
}

#members {
    text-align: center;
}

.member-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.member {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.member h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.member p {
    margin: 5px 0;
}

.member:hover {
    transform: scale(1.05);
}
